{% extends 'authentification/base.html' %}
{% load addcss %}
{% block content %}
    {% include 'authentification/includes/header.html' with color='#fafafa' bgcolor='#990000' %}
    <div class="container text-center">
        <form action="{% url 'auth:login' %}" method="post">
            {% csrf_token %}
            <div>
                <label class="text-left" for="{{ form.username.name }}">
                    {{ form.username.label }}
                    {{ form.username|addcss:"form-control" }}
                    {{ form.username.errors }}
                </label>
            </div>
            <div>
                <label class="text-left" for="{{ form.password.name }}">
                    {{ form.password.label_tag }}
                    {{ form.password|addcss:"form-control" }}
                    {{ form.password.errors }}
                </label>
            </div>
            <input class="btn btn-success" type="submit" value="go"/>
        </form>
    </div>
{% endblock %}
{% comment %}
{% for field in form %}
    <div do-your-styling>
        <label for="{{ field.name }}">{{ field.label }}
            {{ field|addcss:"form-control" }}
        </label>
    </div>
{% endfor %}
{% endcomment %}
